
<div class="col-xs-8 col-xs-offset-2">
  <div class="form-group">
    <%= simple_form_for [@invoice] do |f| %>
      <%= f.input :invoice_value, label: "Valor nominal", as: :integer, default: 0, input_html: { id: "invoice-value", class: 'form-control' } %>
      <%= f.input :terms, label: "Prazo de vencimento", as: :integer, default: 0, input_html: { id: "invoice-terms", class: 'form-control' } %>

      <%= f.button :submit, "Simular", class: "btn btn-default" %>
      <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
