<div class="container">
  <h1>Minhas duplicatas</h1>
  <% @invoices.each do |invoice| %>
    <p>Data: <%= invoice.created_at %>| Valor nominal: R$ <%= invoice.invoice_value %> | Prazo: <%= invoice.terms %> | Taxa: <%= (invoice.rate)*100 %>% | Valor a receber: R$ <%= invoice.receivable %> | Status: <%= invoice.saved %></p>
  <% end %>

</div>
