  <div class="navbar-space"></div>
  <div class="simulator-wrapper">
    <div class="container">
    <div class="simulador">
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-5 col-xs-offset-1">
            <div class="info-simulator">
              <div class="text-center">
                <h1>Simule o valor de suas duplicatas</h1>
                <br>
                <div class="text-left">
                  <p>Preencha os campos ao lado para simular as taxas e os valores a receber após uma operação.</p>
                  <p>As simulações serão salvas na lista abaixo e, caso tenha interesse em submetê-las a uma operação nossa, é só clicar em "Submeter", ou diretamente em "Salvar".</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6">
              <div class="d-flex align-content-center">
            <div class="simulator-box">
                <%= render 'form', invoice: @invoice %>
              </div>
            </div>
          </div>
        </div> <!-- col-xs-12 -->
      </div>
    </div> <!-- simulador -->
    </div>
  </div>
<div class="container">
    <h1>Minhas duplicatas</h1>
    <% if @invoices.nil? %>
      <%= puts "cagou" %>
    <% else %>
      <% @invoices.each do |invoice| %>
        <div class="row">
          <div class="col-xs-12">
            <div class="invoice-box">
              <div class="col-xs-1">
                <div class="invoice-id">
                  <p>#<%= invoice.id %></p>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="submit-date">
                  <p>Data: <%= invoice.created_at %></p>
                </div>
              </div>
              <div class="col-xs-3">
                <p>Valor nominal: R$ <%= invoice.invoice_value %></p>
                <p>Prazo: <%= invoice.terms %></p>
              </div>
              <div class="col-xs-3">
                <p>Valor a receber: R$ <%= invoice.receivable %></p>
                <p>Taxa: <%= (invoice.rate)*100 %>%</p>
              </div>
              <div class="col-xs-2">
                <%= link_to 'Submeter', edit_invoice_path(invoice), class: 'btn btn-success', id:'submit-invoice-box' %>
              </div>
            </div> <!-- invoice-box -->
          </div> <!-- col-xs-12 -->
        </div> <!-- row -->
      <% end %>
    <% end %>
    <div class="space-footer"></div>
</div>
