<div class="container">
  <div class="navbar-space"></div>
  <div class="text-center">
    <h1>Simulador</h1>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= render 'form', invoice: @invoice %>
    </div>
  </div>
    <% @invoices.each do |invoice| %>
    <p>Data: <%= invoice.created_at %>| Valor nominal: R$ <%= invoice.invoice_value %> | Prazo: <%= invoice.terms %> | Taxa: <%= (invoice.rate)*100 %>% | Valor a receber: R$ <%= invoice.receivable %> | Status: <%= invoice.saved %> | <%= link_to 'Submeter esta duplicata', edit_invoice_path(invoice) %></p>
  <% end %>
</div>
